<h1>Weather stats at <span id="location">{{location}}</span></h1>

<div id="stats">
<p>Temperature: {{temp}}</p>
<p>Pressure: {{press}}</p>
<p>Humidity: {{humid}}</p>
<p>Max Temperature: {{maxtemp}}</p>
<p>Min Temperature: {{mintemp}}</p>
</div>